.content__filters {
	margin: 50px 0 30px;
	display: inline-flex;
	align-items: center;
}

.content__filter-span {
	font-weight: 500;
	font-size: 24px;
	margin-right: 20px;
}

.content__events {
	min-height: 840px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}

.content__notFound {
	font-size: 36px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

@media screen and (max-height: 1200px) {
  .content__events {
		min-height: 820px;
		grid-gap: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .content__filters {	
		margin: 20px 0 30px;
  }

	.content__events {
		min-height: 520px;
		grid-gap: 20px;
  }
}

@media screen and (max-height: 900px) {
  .content__events {
		min-height: 270px;
  }

	.content__filters {	
		margin: 10px 0 30px;
	}
}

@media screen and (max-width: 768px) {
  .content__filters {
		display: flex;
    flex-direction: column;
  }

	.content__events {
		min-height: 520px;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
  }
}
